<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" href="/img/img.png" type="image/icon type">
    <title>Narudžbenica</title>
</head>
<body>
    <nav  class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Početna</a></li>
            <li class="nav-item active"><a class="nav-link" href="user">Moj profil</a></li>
            <li class="nav-item active"><a class="nav-link" href="log/odjava">Odjava</a></li>
        </ul>
    </nav>
    <form class="align-self-center col-6 container-fluid mt-5 text-center" method="post" th:action="|order/|">
        <div class="row">
            <div class="form-group col-md-6">
                <select class="form-select" id="vId" name="vId" required>
                    <option th:each="v : ${vakcine}" th:value="${v.id}" th:text="${v.naziv}"></option>
                </select>
                <label class="form-label" for="vId">Vakcina</label>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" id="kol" name="kolicina" type="number" min="1" value="1" required>
                <label class="form-label" for="kol">Potrebna količina</label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <textarea class="form-control" id="rz" name="razlog" required></textarea>
                <label class="form-label" for="rz">Razlog nabavke</label>
            </div>
        </div>

        <input type="submit" value="Naruči" class="btn btn-primary btn-block my-4">
    </form>
</body>
</html>