<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Orderi</title>
</head>
<body>
    <ul th:if="${session.user == null}">
        <li><a href="login.html">Prijava</a></li>
        <li><a href="registracija.html">Registracija</a></li>
    </ul>
    <ul th:unless="${session.user == null}">
        <li><a href="/">Početna</a></li>
        <li th:if="${session.role == 'ADMIN' and statistika == null}"><a href="statistikaAdd.html">Dodaj statistiku</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="vestAdd.html">Dodaj vest</a></li>
        <li><a href="vakcina/sve">Vakcine</a></li>
        <li th:if="${session.role == 'STAFF'}"><a href="prijave/sve">Prijave za vakcinaciju</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="order/svi">Narudžbenice</a></li>
        <li><a href="user">Moj profil</a></li>
        <li><a href="log/odjava">Odjava</a></li>
    </ul>
    <table>
        <caption>Kreirane narudžbine</caption>
        <tr>
            <th>Vakcina</th>
            <th>Količina</th>
            <th>Razlog</th>
            <th>Datum kreiranja</th>
        </tr>
        <tr th:each="o : ${ordersCr}">
            <td th:text="${o.vakcina.naziv}"></td>
            <td th:text="${o.kolicina}"></td>
            <td th:text="${o.razlog}"></td>
            <td th:text="${#dates.format(o.datumKreiranja, 'dd-MM-yyyy')}"></td>
            <td th:if="${session.role == 'ADMIN'}"><a th:href="|order/${o.id}|">Pregledaj</a></td>
        </tr>
    </table><br>

    <table th:if="${session.role == 'STAFF'}">
        <caption>Vraćene narudžbine</caption>
        <tr>
            <th>Vakcina</th>
            <th>Količina</th>
            <th>Razlog</th>
            <th>Datum kreiranja</th>
        </tr>
        <tr th:each="o : ${ordersRe}">
            <td th:text="${o.vakcina.naziv}"></td>
            <td th:text="${o.kolicina}"></td>
            <td th:text="${o.razlog}"></td>
            <td th:text="${#dates.format(o.datumKreiranja, 'dd-MM-yyyy')}"></td>
            <td th:if="${session.role == 'STAFF'}"><a th:href="|order/${o.id}|">Pregledaj</a></td>
        </tr>
    </table><br>

    <table th:if="${session.role == 'STAFF'}">
        <caption>Odbijene narudžbine</caption>
        <tr>
            <th>Vakcina</th>
            <th>Količina</th>
            <th>Razlog</th>
            <th>Datum kreiranja</th>
        </tr>
        <tr th:each="o : ${ordersRe}">
            <td th:text="${o.vakcina.naziv}"></td>
            <td th:text="${o.kolicina}"></td>
            <td th:text="${o.napomena}"></td>
            <td th:text="${#dates.format(o.datumKreiranja, 'dd-MM-yyyy')}"></td>
        </tr>
    </table>
</body>
</html>