<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Vakcina</title>
</head>
<body>
    <ul th:if="${session.user == null}">
        <li><a href="login.html">Prijava</a></li>
        <li><a href="registracija.html">Registracija</a></li>
    </ul>
    <ul th:unless="${session.user == null}">
        <li><a href="/">Početna</a></li>
        <li th:if="${session.role == 'ADMIN' and statistika == null}"><a href="statistikaAdd.html">Dodaj statistiku</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="vestAdd.html">Dodaj vest</a></li>
        <li><a href="vakcina/sve">Vakcine</a></li>
        <li th:if="${session.role == 'STAFF'}"><a href="prijave/sve">Prijave za vakcinaciju</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="order/svi">Narudžbenice</a></li>
        <li><a href="user">Moj profil</a></li>
        <li><a href="log/odjava">Odjava</a></li>
    </ul>
    <table th:if="${session.role == 'STAFF'}">
        <tr>
            <th>Naziv</th>
            <th>Količina</th>
            <th>Proizvođač</th>
        </tr>
        <tr>
            <td th:text="${vakcina.naziv}"></td>
            <td th:text="${vakcina.kolicina}"></td>
            <td th:text="${vakcina.proizvodjac.naziv}"></td>
        </tr>
    </table>

    <form th:if="${session.role == 'ADMIN'}" method="post" th:action="|vakcina/${vakcina.id}|">
        <label>Naziv</label>
        <input type="text" name="naziv" th:value="${vakcina.naziv}"><br>
        <label>Kolicina</label>
        <label th:text="${vakcina.kolicina}"/><br>
        <label>Proizvođač</label>
        <select name="idP">
            <option th:each="pr : ${proizvodjaci}" th:text="${pr.naziv}" th:value="${pr.id}" th:selected="${vakcina.proizvodjac.id == pr.id}"></option>
        </select>
        <input type="submit" value="Izmeni">
    </form>
</body>
</html>