<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Vakcine</title>
</head>
<body>
    <ul th:if="${session.user == null}">
        <li><a href="login.html">Prijava</a></li>
        <li><a href="registracija.html">Registracija</a></li>
    </ul>
    <ul th:unless="${session.user == null}">
        <li><a href="/">Početna</a></li>
        <li th:if="${session.role == 'ADMIN' and statistika == null}"><a href="statistikaAdd.html">Dodaj statistiku</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="vestAdd.html">Dodaj vest</a></li>
        <li><a href="vakcina/sve">Vakcine</a></li>
        <li th:if="${session.role == 'STAFF'}"><a href="prijave/sve">Prijave za vakcinaciju</a></li>
        <li th:unless="${session.role == 'PATIENTS'}"><a href="order/svi">Narudžbenice</a></li>
        <li><a href="user">Moj profil</a></li>
        <li><a href="log/odjava">Odjava</a></li>
    </ul>
    <table>
        <caption>Vakcine</caption>
        <tr>
            <th>Naziv</th>
            <th>Kolicina</th>
        </tr>
        <tr th:each="v : ${vakcine}" th:if="${session.role == 'ADMIN' or session.role == 'STAFF' or (session.role == 'PATIENTS' and v.kolicina > 0)}">
            <td><a th:if="${session.role != 'PATIENTS'}" th:href="|vakcina/${v.id}|" th:text="${v.naziv}"></a>
                <label th:if="${session.role == 'PATIENTS'}" th:text="${v.naziv}"></label></td>
            <td th:text="${v.kolicina}"></td>
            <td th:if="${session.role == 'PATIENTS' and brDoza < 4 }"><a th:href="|prijave/${v.id}|">prijavi se</a></td>
        </tr>
    </table>

    <form method="post" action="/vakcina/search">
        <label for="s">Pretraga</label>
        <input id="s" type="search" value="" name="term" required><br>

        <label for="km">Minimalna kolicina</label>
        <input id="km" type="number" value="0" min="0"  max="1000" step="5" name="mi" required><br>

        <label for="kx">Maksimalna kolicina</label>
        <input id="kx" type="number" value="1000" min="0"  max="1000" step="5" name="mx" required><br>

        <label for="so">Sortiraj po</label>
        <select id="so" name="s">
            <option value="" selected></option>
            <option value="naziv">Nazivu vakcine</option>
            <option value="proizvodjac.naziv">Nazivu proizvođača</option>
            <option value="proizvodjac.drzava">Državi proizvođača</option>
            <option value="kolicina">Količini</option>
        </select><br>

        <input type="checkbox" name="u" id="u" checked>
        <label for="u">Rastuće</label><br>

        <input type="submit" value="Sortiraj">
    </form>
</body>
</html>